<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather</title>

</head>

<body>

    <h1>Bangkok weather</h1>
    City: <%=data.city_name%> <br>
    aqi: <%=data.data[0].aqi%> <br>
    PM 10: <%=data.data[0].pm10%> <br>
    PM 2.5: <%=data.data[0].pm25%> <br>

</body>

</html>