<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather</title>

</head>

<body>

    <h1>Hello world!</h1>
    <%=data.city_name%> <br>
        <%=data.data[0].aqi%> <br>
            <%=data.data[0].pm10%> <br>
                <%=data.data[0].pm25%> <br>

</body>

</html>