.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.container div {
  background: #222;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 300px;
}

.container div:hover {
    background-color: #f07f2e;
}

.title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #f0f0f0;
}

.image {
  border-radius: 10px;
}
